<div class="jumbotron center">
  <h1 id="home-page-logo">Search Words</h1>
  <%= form_tag search_path, method: :get do %>
    <%= text_field_tag 'keyword', nil, placeholder: 'Search' %>
    <%= submit_tag 'Search', class: "btn btn-primary" %>
  <% end %>
</div>

